.landing-page {
  height: auto !important;
}

.editBtn {
  float: right;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.editBox {
  height: 30px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.custom-file-control {
  top: 131px;
}

.fake-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload #logo-id {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 33px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.img-preview {
  max-width: 100%;
}
